.image{
    width: 100%;
    height: 500px;
}

.image img{
    width: 100%;
    height: 500px;
}

.descripcion{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #3298dc;
    margin-bottom: 20px;
    
}

.descripcion .texto{
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.descripcion .texto h2{
    color: white;
}

.descripcion .texto p{
    display: block;
    margin: auto;
    width: 60%;
    font-size: 24px;
    text-align: center;
    color: white;
}

